.App {
  text-align: center;
}

.container {
  height: 100vh;
}

.title {
  color: #ff577a;
  font-size: 40px;
}

.description,
.subDescription {
  font-size: 30px;
}

.subDescription {
  margin-top: 30px;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.inputContainer {
  height: 80px;
  width: 600px;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  margin-top: 5px;
}

.input-label,
.input-field {
  border: none;
  padding: 5px;
}

.input-label {
  width: 200px;
  border-right: 1px solid black;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-field {
  width: 100%;
  outline: none;
  text-align: center;
  font-size: 30px;
}

.input-field::placeholder {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit {
  height: 80px;
  width: 600px;
  border: none;
  padding: 8px 12px;
  background-color: #ff577a;
  color: white;
  font-size: 30px;
  margin-top: 5px;
}

.heroContainer {
  background-color: rgba(255, 87, 122, 0.05);
  padding: 40px 550px;
}

.heroTitle {
  font-size: 50px;
  line-height: 65px;
  font-weight: 600;
}

.heroDesc {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
  span {
    font-size: 30px;
  }
}

.socialContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 0 400px;
  padding-top: 70px;
  img {
    width: 40px;
    height: 40px;
  }
}

.companyLink {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 50px;
  * {
    font-size: 30px;
    line-height: 52px;
  }
}

.link {
  text-decoration: none;
  color: black;
}

.successSubmit {
  display: flex;
  flex-direction: column;
  * {
    font-size: 30px;
  }
}
